[Unit]
Description=Rest Cups Api Service
After=syslog.target network.target

[Service]
User=root
WorkingDirectory=/usr/share/printer-api/
ExecStart="/usr/share/printer-api/start.sh"
Restart=always

[Install]
WantedBy=multi-user.target
